@charset "utf-8";
/* CSS Document */


/* Slide Show*/
#slideshow {
	position:relative;
	top:0px;
	z-index: 1;
}
#slideshow IMG {
    position:absolute;
    top:0px;
    left:0;
    z-index:8;
    opacity:0.0;
	marquee:true;
}
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
#slideshow IMG.last-active {
    z-index:9;
}
/* End Slideshow*/